html,
body,
iframe,
div,
img,
header,
main,
article,
nav,
input,
button,
footer {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

